body {
    font-family: Times New Roman, sans-serif;
    background-color: #dc488b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.468);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #e3d8d8;
    border-radius: 4px;
}

button {
    background-color: #47604d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3c844d;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: teal;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

.complete {
    text-decoration: line-through;
    color: rgba(116, 137, 71, 0.902);
}
